<h1 class="text-center">Available Courses</h1>
<div class="container">
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= course.name %></h5>
            <p class="card-text"><%= course.description %></p>
            <p><strong>Instructor:</strong> <%= course.instructor %></p>
            <p><strong>Duration:</strong> <%= course.duration %></p>
            <p><strong>Price:</strong> $<%= course.price %></p>
            <%= button_to "Enroll", course_enroll_path(course), method: :post, class: "btn btn-success" %>



          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
